/* General Styling */

  body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 10px;
    width: 80em;
    margin: 0 auto;
  }

  .sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto
    padding-top: 20px;
    background-color: black;
  }

  .sidenav a {
    padding: 15px 12px 12px 12px;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    color: white;
    display: block;
  }

 .sidenav a:hover {
    color: red;
  }

 .main {
    margin-left: 160px; 
    font-size: 10px;
    padding: 0px 10px;
  }
  
  #overview {
    margin: 0;
    text-align: center;
  }

  footer {
    display: inline;
  }

  footer .copyright {
    font-style: italic;
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-left: 150px;
  }

  footer .grouplink {
    display: flex;
    justify-content: flex-end;
    float: right;
  }

  footer #link {
    padding: 8px 5px 5px 5px;
  }

  footer ul {
    list-style: none;
  }

  /* Typography */
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.2em;
  }
  h3  {
    font-size: 2em;
    }
  p, li {
    font-size: 1.7em;
    }

