/* General Styling */

  body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-image: url("bg.jpg");
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: black;
}

.sidenav a {
  padding: 15px 12px 12px 12px;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: red;
}

.main {
  margin-left: 250px;
  font-size: 10px;
  padding: 0px 10px;
}

#overview {
  margin: 0;
  text-align: center;
}

footer {
  display: inline;
}

footer .copyright {
  font-style: italic;
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 40px;
  margin-left: 270px;
}

footer .grouplink {
  display: flex;
  justify-content: flex-end;
  float: right;
}

footer #link {
  padding: 8px 5px 5px 5px;
}

footer ul {
  list-style: none;
}

/* General Typography */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

/*-----All other devices-----*/
@media screen
and (min-device-width: 668px) {
  .sidenav a {
    font-size: 21px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 34px;
  }
  h3  {
    font-size: 30px;
  }
  p, li {
    font-size: 18px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .sidenav a {
  font-size: 21px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 24px;
  }
  h3  {
    font-size: 20px;
    }
  p, li {
    font-size: 12px;
    }
  }

